* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(20, 20, 20);
}

#title {
    color: rgb(190, 190, 190);
    margin: 12px;
    font-size: 50px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.albums > div {
    padding: 10px;
    background-color: rgb(96, 108, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albums div img {
    border: 2px solid black;
}

.albums div h4 {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
}